* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
}

.welcome {
  text-align: center;
}

.home {
  color: brown;
  margin-top: 20px;
  font-size: 50px;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}

.joy {
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.care {
  background-color: rgb(153, 69, 69);
  color: aliceblue;
  font-size: 18px;
}

.nurse {
  width: 15o0px;
  height: 400px;
}
